
.mainContainer {
    width: 50%;
    max-width: 700px;
    min-width: 500px;
    margin: auto;
}

.header {
    font-size: 36px;
    font-weight: bold;
    padding: 10px;
}

#searchBar {
    display: none;
}

#bookmarksList {
    width: 100%;
    padding: 10px;
}

.favicon {
    height: 24px;
    margin: 8px;
}


.bookmarkRow>.cmd {
    display: none;
}

.bookmarkRow:hover>.cmd {
    display: inline-block;
}


.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.bi {
    vertical-align: -0.125em;
}